<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.bid3v.electrodeprefs</string>
			<key>key</key>
			<string>autoHideLP</string>
			<key>label</key>
			<string>AUTO_HIDE</string>
			<key>PostNotification</key>
			<string>com.bid3v.electrode/prefs.changed</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.bid3v.electrodeprefs</string>
			<key>key</key>
			<string>autoLP</string>
			<key>label</key>
			<string>AUTO_LP</string>
			<key>PostNotification</key>
			<string>com.bid3v.electrode/prefs.changed</string>
		</dict>
	</array>
    <key>title</key>
	<string>LP_TOAST</string>
</dict>
</plist>